.info{
    background-color: rgb(255, 196, 0);
    width: 100%;
    height:300px;
}
body{
    margin: 0%;
}
.row{
    flex-flow: row;
    display: flex;
}
.col
{
    flex-flow: column;
}

.title h2{
   
    padding: 5px;
}

.white h2{
    background-color: white;
    padding: 5px;
}

.white a img{
    height: 50px;
    background-color: white;
}

.images{
    margin: 10px;
    background-color: rgb(231, 231, 231);
    overflow-x: scroll;
}

.imgbox{
   height: 300px;
   width: 100%;
   border: solid;
   border-radius: 3px;
   margin: 10px;
}

.imgbox img{
    height: 100%;

}

.imp_links{
    margin-bottom: 20px;
    /* display: block; */
}

.ilink {
    float: left;
    display: inline;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.ilink h2{
    margin: 0%;
}

.text_links{
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    float: none;
    display: block;
    height: 400px;
    background-color: rgb(231, 231, 231);
    overflow-y: scroll;
}

